<div class="container-fluid py-4 " id="error_msg" style="display: none;">
    <div class="row">
        <div class="col-12">
            <!-- Error Alert -->
            <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show text-white">
                <i class="bi-exclamation-octagon-fill" style="font-size: 20px;"></i>
                <span id="show_error_msg"></span>
                <button type="button" class="btn-close text-white" data-bs-dismiss="alert" style="margin-top: -5px;" id="error_alert"><span style="font-size: 20px;">X</span></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-4" id="success_msg" style="display: none;">
    <div class="row">
        <div class="col-12">
            <!-- Success Alert -->
            <div class="alert alert-success alert-dismissible d-flex align-items-center fade show text-white">
                <i class="bi-check-circle-fill" style="font-size: 20px;"></i>
                <span id="show_success_msg"></span>
                <button type="button" class="btn-close text-white" data-bs-dismiss="alert" style="margin-top: -5px;"><span style="font-size: 20px;">X</span></button>
            </div>
        </div>
    </div>
</div>
