@{
  Layout = "_LibrarianDashboard";
}
<div class="alert">@ViewBag.Name</div>

<div class="container-fluid px-2 px-md-4">
    <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
        <span class="mask  bg-gradient-primary  opacity-6"></span>
    </div>
    <div class="card card-body mx-3 mx-md-4 mt-n6">
        <partial name="_partialErrorSuccess" />
        <form method="POST" action="/Librarian/Change_Password" id="passwordForm">
            <partial name="_ChangePassword" />

        </form>
       
    </div>
</div>
<script>

    const form = document.getElementById('passwordForm');

    form.addEventListener('submit', function (event) {
        const password1 = document.getElementById('password1').value;
        const password2 = document.getElementById('password2').value;

        if (password1 !== password2) {
            alert('Passwords do not match. Please try again.');
            event.preventDefault(); // Prevent form submission
        }
    });

    var z = "@ViewBag.status";
    if (z == "success") {
        document.getElementById("success_msg").style.display = 'block';
        document.getElementById("show_success_msg").innerText = " Successfully Password Updated.";
        setTimeout(function () {
            document.getElementById("success_msg").style.display = 'none';
        }, 3000);
    }
    else if (z == "error") {
        document.getElementById("error_msg").style.display = 'block';
        document.getElementById("show_error_msg").innerText = " Password not changed!!!";
        setTimeout(function () {
            document.getElementById("error_msg").style.display = 'none';
        }, 3000);
    }

</script>

